<h2>Create your MyLibrary account below</h2>

<% if flash[:message] %> 
    <%= flash[:message] %> 
<% end %><br><br>

<%= form_for(@user) do |a| %> 
    <%= a.label :username %><br>
    <%= a.text_field :username %><br>

    <br>

    <%= a.label :password %>
    <%= a.password_field :password %><br>

    <%= a.submit "Sign up" %> 
<% end %> 