<h2><%= "Welcome #{@user.username}"%></h2>

Books reviewed: 
<ul>
<%= @user.books.each do |a| %> 
    <li><%= link_to a.name, book_path(a) %> (by: <%= a.author %><br>
<% end %> 
</ul> 

Reviews by genre: 
<ul>
<%= @user.books.each do |a| %> 
    <li><%= a.genre %></li>
<% end %> 
</ul>

<p>Number of books reviewed: <%= @user.reviews.count%> reviews</p>

<br>

<p>Click <%= link_to "my reviews", user_reviews_path(@user)%> to see all of your reviews </p>

Click link to see all books:
<%= link_to "Book Page", books_path %> 
<br><br>
<%= link_to 'Create a new book', new_book_path %>
<br><br>
<%= link_to 'Log out', '/logout' %> 




