<% if current_user == @user %> 
    <h2><%= "Welcome #{current_user.username}!" %></h2>
<% else %> 
    <h2><%= "#{@user.username}'s Profile" %></h2>
<% end %> 

Books reviewed: 
<ul>
<% @user.books.each do |a| %> 
    <li><%= link_to a.name, book_path(a) %> (by: <%= a.author %>)<br>
<% end %> 
</ul> 

Reviews by genre: 
<ul>
<% @user.books.each do |a| %> 
    <li><%= a.genre %></li>
<% end %> 
</ul>

<p>Number of books reviewed: <%= @user.reviews.count%> reviews</p>

<br>

<% if current_user == @user %> 
    <div class="user_profile">
        <p>Click <%= link_to "my reviews", user_reviews_path(@user)%> to see all of your reviews </p>

        Click link to see all books:
        <%= link_to "Book Page", books_path %> 
        <br><br>
        <%= link_to "Users List", users_path %> 
        <br><br>
        <%= link_to 'Create a new book', new_book_path %>
        <br><br>
        <%= link_to 'Log out', '/logout' %> 
    </div>
<% else %> 
    <%= link_to 'Go back to users list', users_path %> 
    <br><br>
    <%= link_to 'Go to your profile', user_path(current_user) %> 
<% end %> 


