<h3>Book Name: <%= @book.name %></h3> 

<h3>Author: <%= @book.author %></h3>

<h3>Genre: <%= @book.genre %></h3>

<h3>Page Count: <%= @book.page_count %></h3>

<h3>Reviews</h3>
<ol>
<% @book.reviews.each do |a| %> 
    <li>By: <%= a.user.username %><br>
    Stars: "<%= a.stars %> out of 5"
    <br><br>
    Message: <%= a.content %>
<% end %><br>
</ol>

<br>

<%= link_to "New Review", new_book_review_path(@book) %>

<br><br>

<%= link_to 'Home page', user_path(current_user.id) %> 
