<h3>Book Name: <%= @book.name %></h3> 

<h3>Author: <%= @book.author %></h3>

<h3>Genre: <%= @book.genre %></h3>

<h3>Page Count: <%= @book.page_count %></h3>

<h3>Reviews</h3>
<%= @book.reviews.each do |a| %> 
    Stars: "<%= a.stars %> out of 5"
    <br><br>
    Message: <%= a.content %> 
<% end %> 


<%= link_to "New Review", new_book_review_path(@book) %>