<div style="text-align:center;">

    <%= form_for(@review) do |r| %> 

        <%= r.label :stars %> 
        <%= r.number_field :stars %><br>

        <br><br>

        <%= r.label :content %> 
        <%= r.text_area :content %><br>

        <%= r.hidden_field :user_id, value: current_user.id %> 

        <%= r.hidden_field :book_id %> 

        <br><br>

        <%= r.submit "Submit" %> 
        
    <% end %> 

</div>