<ul>
<% @reviews.each do |r| %>
  <li>Book: <%= book_link(r) %></li>
      Stars: <%= link_to "#{r.stars} stars", review_path(r) %><br>
      Message: <%= r.content %><br>
      <%= link_to 'Edit Review', edit_user_review_path(r.user, r) if current_user == r.user %> 
      <br>
<% end %>
</ul>
<br>

<%= link_to 'Home Page', user_path(current_user) %>