<h2>Review for <%= book_link(@review) %></h2>

<p>Review written by: <%= @review.user.username %></p><br>


<p>Star rating: <%= @review.stars %> stars out of 5</p>


<p>Review Message: <%= @review.content %></p>

<br>

<p>Go back to home page: <%= link_to "Home Page", user_path(@review.user) %></p>

<p>Visit book page: <%= book_link(@review) %></p>

<br>

<p><%= link_to 'Edit Review', edit_user_review_path(@review.user, @review) if @review.user == current_user %><p>

<br>

<%= button_to "Delete Review", review_path(@review), method: :delete if current_user == @review.user %> 
